@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Fredoka:wght@300;400&family=Jockey+One&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans&family=Poppins:wght@100;300;400&family=Roboto+Condensed&family=Roboto:wght@300&family=Signika:wght@400;700&display=swap');

*{
    font-family: 'Jockey One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
}

body{
    
    background: #E6E6E6;
}


.heading{
    font-size: 550%;
    margin-top: 25px;
}

.dark-mode-img{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 4%;
    right: 2%;
}

.resBox{
        width: 70vw;
        /* height: 68vh; */
        border: solid 5px black;
        margin-left: 15vw;
        margin-top: 5vh;
    background-color: #D9D9D9;
}

.head{
    font-size: 450%;
    margin-top: 20px;
}

.textArea{
    font-size: 200%;
    margin-top: 3vh;
    color: rgb(0, 0, 0);
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 7vh;
    margin-right: 2.5vw;
    margin-bottom: 3vh;
}

.exit1{
    background-color: #B7B7B7;
    width: 12vw;
    height: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 220%;
    border: 2px solid black;
    position: absolute;
}

.exit2{
    background-color: #D9D9D9;
    width: 12vw;
    height: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 220%;
    border: 2px solid black;
    z-index: -100;
    margin-top: 1vh;
    margin-left: 0.5vw;
    margin-right: 2.5vw;
}

.again1{
    background-color: #B7B7B7;
    width: 13vw;
    height: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 220%;
    border: 2px solid black;
    position: absolute;
}

.again2{
    background-color: #D9D9D9;
    width: 13vw;
    height: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 220%;
    border: 2px solid black;
    z-index: -100;
    margin-top: 1vh;
    margin-left: 0.5vw;
}

.again:hover,.exit:hover{
    cursor: pointer;
}

.audio-img{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 4%;
    right: 7%;
    margin-top: 5px;
}

.red{
    color: black;
    text-decoration: underline;
    font-size: 110%;
}

.perc{
    margin-left: 5vw;
    margin-right: 5vw;
}


@media (max-width: 750px) {

    .heading{
        width: 68vw;
        text-align: center;
        margin-left: 16vw;
        font-size: 14vw;
    }

    

    .audio-img{
        top: 13%;
        right: 2.7%;
    }

    .resBox{
        width: 85vw;
        margin-left: 7.5vw;
        padding:15px;
        font-size: 2vw;

    }

    .again1,.again2,.exit1,.exit2{
        font-size: 3.3vw;
    }

}

.red{
    animation: colorChange 0.5s infinite alternate;
}

@keyframes colorChange {
    from {
        color: hsl(0, 0%, 0%);
    }
    to {
        color: hsl(0, 0%, 68%);
    }
}